<div layout="column" class="bodycontent" layout-fill>
  <div layout="column" layout-fill class="container" flex>
    <div layout="column" layout-align="start center" flex="60">
      <h1 class="homehead">Book Trade</h1>
      <ul class="featurelist">
        <h3>How it works</h3>
        <li>1. List all the books in your collection you're willing to part with</li>
        <li>2. Add books you want to read to your wishlist</li>
        <li>3. Get notified when someone wishlists one of your books</li>
        <li>4. Give a book you're done with to a user who will enjoy it</li>
      </ul>
      <p><em>Cut clutter, get new reads for free, and have fun.</em></p>
    </div>
    <div layout="row" layout-align="center center" flex="20">
      <md-button class="md-raised" href="/login">Sign In</md-button>
      <md-button class="md-raised" href="/register">Register</md-button>
    </div>
    <div layout="row" layout-align="center center" flex>
      <p class="copyright">&copy; 2016 Luke Walker. <a href="https://github.com/ubershibs/book-trading-club" target="_blank">Code on Github</a></p>
    </div>
  </div>
</div>
